:root {
    --barva-pozadi: #202124;
    --barva-pismo: #E8EAED;
    --barva-pismo-karta: #292A2D;
    --barva-pismo-placeholder: #9AA0A6;
    --barva-vyber-pozadi: #0864D5;
    --barva-vyber-pismo: white;

    --cervena: #DB4437;
    --zluta: #faf200;
    --zelena: #81C995;
    --modra: #8AB4F8;
    --modra-tmavsi: #4285F4;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonty/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('fonty/RobotoSlab-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

::selection {
    background-color: var(--barva-vyber-pozadi);
    color: var(--barva-vyber-pismo);
}

body {
    margin: 0;
    font-family: 'Montserrat', serif;
    line-height: 1.5;
    font-size: 12pt;
    min-width: 290px;
    color: var(--barva-pismo);
    background-color: var(--barva-pozadi);
}

#img_logo {
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 25px;
    background-color: #333333;
    padding: 6px;
    border-radius: 8px;
}

header {
    padding: 25px;
    margin-bottom: 15px;
}

header h1 {
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;

}

section {
    padding: 20px;
    text-align: center;
}

fieldset {
    border: none;
    border-radius: 8px;
    box-shadow: 1px 2px 3px #191A1D;
    margin-bottom: 25px;
    padding: 0;
    background-color: var(--barva-pismo-karta);
}

fieldset div {
    padding: 0 15px 25px 15px;
}

fieldset .cara_nahore {
    border-top: 1px dotted var(--barva-pismo-placeholder);
}

.tabulka_uprostred {
    margin: 0 auto;
    text-align: left;
}
.tabulka_uprostred label {
    margin-right: 20px;
}
.tabulka_uprostred input {
    text-align: center;
    font-size: 12pt;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 206px;
    font-family: 'Montserrat', serif;
}

.nadpis_modul {
    font-size: 14pt;
    margin-bottom: 30px;
    text-align: left;
    margin-top: 0;
    margin-left: 25px;
}
.nadpis_formular {
    font-size: 12pt;
    font-weight: normal;
    margin: 25px 0 25px 0;
}

input[type=text], input[type=number] {
    width: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--barva-pismo-placeholder);
    border-bottom-style: dotted;
    border-left: transparent;
    background-color: transparent;
    color: var(--barva-pismo);
}
input::placeholder {
    color: var(--barva-pismo-placeholder);
}

input[type=text]:focus, input[type=number]:focus {
    outline: none;
    border-bottom-color: var(--barva-pismo);
    transition: 0.3s;
}

#label_chybejici_procenta {
    color: var(--zluta);
    font-weight: bold;
}
#input_chybejici_procenta {
    color: var(--zluta);
    background-color: black;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    cursor: help;
}

button {
    user-select: none;
    background-color: transparent;
    border: var(--zluta) 2px dotted;
    color: var(--zluta);
    font-size: 12pt;
    font-family: 'Montserrat', serif;
    display: inline-block;
    text-decoration: none;
    padding: 15px 25px;
    margin: 2px;
    border-radius: 8px;
    transition: 0.3s;
}
button:hover, button:focus {
    outline-width: 0;
    background-color: #faf20011;
}
button:active {
    border-style: solid;
    background-color: var(--zluta);
    color: black;
}

#button_reset {
    color: var(--cervena);
    border-color: var(--cervena);
    border-style: dotted;
    padding: 10px 25px;
    border-color: transparent;
}
#button_reset:hover, #button_reset:focus {
    background-color: #db443711;
    border-color: var(--cervena);
}
#button_reset:active {
    border-style: solid;
    background-color: var(--cervena);
    color: white;
}


/* SweetAlert */
.swal2-styled.swal2-confirm {
    color: #19191a !important;
    /* background-color: var(--zelena) !important; */
}

.swal2-styled.swal2-deny {
    color: #19191a !important;
    /* background-color: var(--cervena); */
}

.swal2-styled.swal2-cancel {
    color: #19191a !important;
    /* background-color: var(--zluta); */
}
